<html>
    
    <head>
        <link rel="stylesheet" type="text/css" href="../css/home.css" /> 
        <meta name="viewport" content= "width=device-width, initial-scale=1.0"> 
    </head>
    
    <body>
        <div class = "grid-conainer" >
            <div class = "navbar">
                
                <div class = "item1">
                    <form method = "GET" action = "/login">
                        <button>login</button>
                    </form>
                </div>

                <div class = "item2">Blogs!!!</div>
                
                <div class = "item3">
                    <form method = "GET" action = "/signup">
                        <button>Signup</button>
                    </form>
                </div>

            </div>
            
            
            <% for (i in blogs) { %>
                <div class = "blog-post">
                    <div class = "heading1"><%= blogs[i].blog_heading %></div>
                    <div class = "author">Created by<%= blogs[i].name %>(<%= blogs[i].email %>) at <%= blogs[i].createdAt %></div>
                    <div class = "blog"><%= blogs[i].blog %></div>
                </div>
            <% } %>
            
        </div>
    <body>
</html>